<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSSZZ} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n"/>
    <appender name="STDOUT_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <receiver class="ch.qos.logback.classic.net.server.SSLServerSocketReceiver">
        <ssl>
            <keyStore>
                <location>${KEYSTORE_PATH}</location>
                <password>${KEYSTORE_PASSWORD}</password>
            </keyStore>
        </ssl>
    </receiver>

    <root level="INFO">
        <appender-ref ref="STDOUT_APPENDER"/>
    </root>

</configuration>